body {
	font-family: 'Roboto', sans-serif;
	padding: 0;
}

header{
	width: 100%;
	margin-top: -8px;
	margin-left: -8px;
	margin-right: 20px;
	height: 60px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #295CE2;
	z-index:1;
}
#header-logo{
	width: 30%;
	height: 100%;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
#header-nav {
	font-family: 'Roboto', sans-serif;
	width: 30%;
    margin: 0 3%;
    display: flex;
    justify-content: flex-end;
      -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
#header-nav-best {
	font-family: 'Roboto', sans-serif;
	width: 30%;
	float: left;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}
#header-nav ul {
			    padding:0;
			    margin:0;
			    list-style: none;
			    position: relative;
			    }
#header-nav ul li {
			    margin: 0px 0 0 0;
			    display:inline-block;
                background-color: #295CE2;
}
#header-nav a {
				width: 140px;
			    display:block;
			    padding:0 19px;
			    color:#FFF;
			    font-size:13pt;
			    line-height: 50px;
			    text-decoration:none;
			    align-items: center;
			    transition: .1s;

}
#header-nav a:hover {
			background-color: #295CE2;
			transition: .5s;
			font-weight:700;
		}
#header-nav ul ul {
			    display: none;
			    position: absolute;
			    top:100%;
			    text-align: center;
			}
#header-nav ul li:hover > ul {
			    display:inherit;

}
#header-nav ul ul li {
			    min-width:105px;
			    float:none;
			    display:list-item;
			    position: relative;
}

#MainProduct {
	text-align: right;
    margin-right: 5%;
    margin-left: 5%;
}

#slider {
	display: block;
	text-align: center;
    margin: 10px 20px;
}

#header {
	height: 148px;
}

#header div {
	width: 230px;
}

#header h3 {
	font-size: 84%;
	margin-left: 850px;

}

#right {
    margin-left: 120px;
}

#right h3 {
	margin-left: 625px;
	color: black;
	font-size: 215%;
	height: 20px;
	font-family: 'Roboto', sans-serif;

}

#right table {
	border-collapse: collapse;
}

#right table td {
	padding: 0;
	vertical-align: top;
}

#right table td.section_bg, #right table td.section_right {
	height: 15px;
}

#right .products {
	width: 100%;
	text-align: center;
}

#right .products td {
	padding-bottom: 10px;
}

#right .intro_product, #right .intro_product img {
	width: 430px;
}

#product_detail {
	margin-top: 5%;
}

#right .intro_product p {
	font-size: 90%;
	margin: 5px 0;
	text-align: center;
}

#right #hornav {
	font-size: 90%;
}

#right #hornav td {
	padding: 0 3px;
}

#right #hornav a {
	color: #1722b4;
}

#right #hornav a:hover {
	text-decoration: none;
}

#logo {
    margin-top: 20px;
    margin-left: 25px;
}

#footer {
	background: url("../images/footer_bg.png") repeat bottom;
	margin: 0 -8px;
}

#footer #pm table {
	margin: 100px auto -80px;
}

#footer {
	background: url("../images/footer.png") no-repeat 2% bottom;
	height: 225px;
	padding-top: 15px;
	background-color: #295CE2;
}

#copy {
    margin-left: 250px;
	display: flex;
	flex-direction: row
	margin-top: 560px;
    font-size: 80%;
    font-weight: normal
}

#copy p {
    font-weight: normal
}

#MIN {
    margin-top: 15px;
    margin-left: 250px;
}

#MINLOGO {
    margin-top: -50px;
    margin-left: 250px;
}

#Help {
	color: white;
	text-align: left;
}

#Vakansii {
	color: white;
	text-align: left;
	margin: 0 15px;
}

#Contacts {
	color: white;
	text-align: left;
}

#footer #copy .counter {
	margin-right: 8px;
	margin-top: -39px;
}

#footer #copy img {
	float: right;
}

#search .input_left, #search .input_right {
	height: 22px;
}

#search .input_left {
	background: url("../images/search_left.png") no-repeat;
	width: 30px;
}

#search .input_right {
	background: url("../images/search_right.png") no-repeat;
	width: 7px;
}

#product_img {
	margin-top: 70px;
}

#search input {
	background-color: #fff;
	border: 1px solid #000000;
	color: black;
	font-size: 110%;
	font-style: italic;
	height: 20px;
	outline: none;
	padding-right: 5px;
	width: 150px;
}

#right #hornav {
	font-size: 90%;
}

#right #hornav td {
	padding: 0 3px;
}

#right #hornav a {
	color: #1722b4;
}

#right #hornav a:hover {
	text-decoration: none;
}

#right #product {
	margin-top: 20px;
	width: 700px;
}

#right #product .product_desc span {
	padding-left: 20px;
	width: 100%;
	margin-left: 10px;
}

#right #product td p {
	font-size: 85%;
	font-weight: bold;
	margin: 0 0 28px;
}

#right #product table p.price {
	font-size: 120%;
	font-weight: normal;
}

#right #product table td {
	padding-right: 20px;

}

#right #product td p span {
	font-weight: normal;
	font-size: 120%;
}

#description {
	margin-top: 10px;
}

#right #product td p span.title {
	color: #58a41b;
}

#right #product p.desc_title {
	margin: 10px 0 5px;
}

#right #product p.desc {
	font-weight: normal;
}