body {
	font-family: 'Roboto', sans-serif;
	padding: 0;
}

a {
    text-decoration: none;
}

header{
	width: auto;
	height: 65px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	background: #295CE2;
	z-index:1;
	margin: -8px -8px;
}
#header-logo{
	width: auto;
	height: auto;
	display: flex;
	align-items: center;
	margin-left: 45px;
	justify-content: flex-start;
	  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
#header-nav {
	font-family: 'Roboto', sans-serif;
	width: 30%;
    margin: 0 3%;
    display: flex;
    justify-content: flex-end;
      -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none;   /* Chrome/Safari/Opera */
  -khtml-user-select: none;    /* Konqueror */
  -moz-user-select: none;      /* Firefox */
  -ms-user-select: none;       /* Internet Explorer/Edge */
  user-select: none;
}
#header-nav-left {
	font-family: 'Roboto', sans-serif;
	width: 350px;
    margin: 0 7%;
    display: flex;
    justify-content: flex-end;
      -webkit-touch-callout: none; /* iOS Safari */
      -webkit-user-select: none;   /* Chrome/Safari/Opera */
      -khtml-user-select: none;    /* Konqueror */
      -moz-user-select: none;      /* Firefox */
      -ms-user-select: none;       /* Internet Explorer/Edge */
      user-select: none;
}
#header-nav ul {
			    padding:0;
			    margin:0;
			    list-style: none;
			    position: relative;
			    }
#header-nav ul li {
			    margin: 0px 0 0 0;
			    display:inline-block;
                background-color: #295CE2;
}
#header-nav a {
				width: 140px;
			    display:block;
			    padding:0 19px;
			    color:#FFF;
			    font-size:13pt;
			    line-height: 50px;
			    text-decoration:none;
			    align-items: center;
			    transition: .1s;

}
#header-nav a:hover {
			background-color: #295CE2;
			transition: .5s;
			font-weight:700;
		}

#header-nav ul ul {
			    display: none;
			    position: absolute;
			    top:100%;
			    text-align: center;
			}
#header-nav ul li:hover > ul {
			    display:inherit;

}
#header-nav ul ul li {
			    min-width:105px;
			    float:none;
			    display:list-item;
			    position: relative;
}
#header-nav-best {
	font-family: 'Roboto', sans-serif;
	width: 30%;
	float: left;
    -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none;   /* Chrome/Safari/Opera */
    -khtml-user-select: none;    /* Konqueror */
    -moz-user-select: none;      /* Firefox */
    -ms-user-select: none;       /* Internet Explorer/Edge */
    user-select: none;
}

#header-nav-left a {
				width: 65px;
			    display:block;
			    padding:0 19px;
			    color:#FFF;
			    font-size:16pt;
			    text-decoration:none;
			    align-items: center;
			    transition: .1s;

}
#header-nav-left a:hover {
			background-color: #295CE2;
			transition: .5s;
			font-weight:700;
		}

#MainProduct {
	text-align: right;
    margin-right: 5%;
    margin-left: 5%;
}

#slider {
	display: block;
	text-align: center;
    margin: 10px 20px;
}

#header {
	height: 148px;
}

#header div {
	width: 230px;
}

#header h3 {
	font-size: 84%;
	margin-left: 850px;

}

#right {
    margin-left: 120px;
}

#right h3 {
	margin-left: 625px;
	color: black;
	font-size: 215%;
	height: 20px;
	font-family: 'Roboto', sans-serif;

}

#right table {
	border-collapse: collapse;
}

#right table td {
	padding: 0;
	vertical-align: top;
}

#right table td.section_bg, #right table td.section_right {
	height: 15px;
}

#right .products {
	width: 100%;
	text-align: center;
}

#right .products td {
	padding-bottom: 10px;
}

#right .intro_product, #right .intro_product img {
	width: 430px;
}

.intro_product{
    transition: 1s;
}
    .intro_product:hover{
        transform: scale(1.04);
    }

#product_detail {
	margin-top: 5%;
}

#right .intro_product p {
	font-size: 90%;
	margin: 5px 0;
	text-align: center;
}

#right #hornav {
	font-size: 90%;
}

#right #hornav td {
	padding: 0 3px;
}

#right #hornav a {
	color: #1722b4;
}

#right #hornav a:hover {
	text-decoration: none;
}

#logo {
    margin-top: 20px;
    margin-left: 25px;
}

#footer {
	background: url("../images/footer_bg.png") repeat bottom;
	margin: -8px -8px;
}

#footer #pm table {
	margin: 100px auto -80px;
}

#footer {
	background: url("../images/footer.png") no-repeat 2% bottom;
	height: 225px;
	padding-top: 15px;
	background-color: #295CE2;
}

#copy {
    margin-left: 250px;
	display: flex;
	flex-direction: row
	margin-top: 560px;
    font-size: 80%;
    font-weight: normal
}

#copy p {
    font-weight: normal
}

#MIN {
    margin-top: 15px;
    margin-left: 250px;
}

#MINLOGO {
    margin-top: -50px;
    margin-left: 250px;
}

#Help {
	color: white;
	text-align: left;
}

#Vakansii {
	color: white;
	text-align: left;
	margin: 0 15px;
}



#Contacts {
	color: white;
	text-align: left;
}

#footer #copy .counter {
	margin-right: 8px;
	margin-top: -39px;
}

#footer #copy img {
	float: right;
}

#product_img {
	margin-top: 70px;
}

#right #hornav {
	font-size: 90%;
}

#right #hornav td {
	padding: 0 3px;
}

#right #hornav a {
	color: #1722b4;
}

#right #hornav a:hover {
	text-decoration: none;
}

#right #product {
	margin-top: 20px;
	width: 700px;
}

#right #product .product_desc span {
	padding-left: 20px;
	width: 100%;
	margin-left: 10px;
}

#right #product td p {
	font-size: 85%;
	font-weight: bold;
	margin: 0 0 28px;
}

#right #product table p.price {
	font-size: 120%;
	font-weight: normal;
}

#right #product table td {
	padding-right: 20px;

}

#right #product td p span {
	font-weight: normal;
	font-size: 120%;
}

#InputLogin {
  display: flex;
  align-items: center;
  border: none;
  border-bottom: 1px solid white;
  background-color: transparent;
  color: inherit;
  outline: none;
}

.box {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 500px;
}
#login {
    display: flex;
    align-items: center;
	color: black;
	font-size: 215%;
	height: 20px;
	font-family: 'Roboto', sans-serif;
}

#description {
	margin-top: 10px;
}

#right #product td p span.title {
	color: #58a41b;
}

#right #product p.desc_title {
	margin: 10px 0 5px;
}

#right #product p.desc {
	font-weight: normal;
}

.registration{
	display:flex;
	justify-content:space-around;
	height:250px;
	margin-top: 20px;
	border-bottom:2px;
}
#registartion{
	position:relative;

	width: 70%;
	height: 100%;
	overflow:hidden;
}
    .slider__wrapper {
      display: flex;
      transition: transform 0.6s ease;
    }

    .slider__item {
      flex: 0 0 100%;
      max-width: 100%;
    }

    .slider__control {
      position: absolute;
      top: 50%;
      display: none;
      align-items: center;
      justify-content: center;
      width: 40px;
      color: #fff;
      text-align: center;
      opacity: 0.5;
      height: 50px;
      transform: translateY(-50%);
      background: rgba(0, 0, 0, .5);
    }

    .slider__control_show {
      display: flex;
    }

    .slider__control:hover,
    .slider__control:focus {
      color: #fff;
      text-decoration: none;
      outline: 0;
      opacity: .9;
    }

    .slider__control_left {
      left: 0;
    }

    .slider__control_right {
      right: 0;
    }

    .slider__control::before {
      content: '';
      display: inline-block;
      width: 20px;
      height: 20px;
      background: transparent no-repeat center center;
      background-size: 100% 100%;
    }

    .slider__control_left::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E");
    }

    .slider__control_right::before {
      background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23fff' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E");
    }

    .slider__item>div {
      line-height: 250px;
      font-size: 100px;
      text-align: center;
    }

.search-box{
    background: #FFF;
    height: 40px;
    border-radius: 30px;
    padding: 10px;
    margin-left: 50px;
}
.search-btn{
    color: #1da1f3;
    float: right;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.search-box:hover > .search-txt{
    width: 240px;
    padding: 0 6px;
}
.search-txt{
    outline: none;
    border: none;
    background: none;
    float: left;
    padding: 0;
    color: black;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
}
#order {
	font-size: 90%;
}

#InputLogin {
	margin-left: 500px;
}

#order table {
	border-collapse: separate;
	border-spacing: 0 3px;
}

#order .w120 {
	width: 120px;
}

#order table td {
	background-color: #fff;
	padding: 5px;
	vertical-align: middle;
}

#order input[type="text"], #order select, #order textarea {
	background-color: #e8ffd6;
	border: 1px solid #8ffa3b;
}

#order input[type="text"], #order input[type="email"], #order input[type="password"] {
	height: 24px;
	width: 200px;
}

#order select {
	height: 28px;
	width: 200px;
	padding: 4px 4px 4px 0;
}

#order select option {
	background: #d3fab4;
}

#order .button {
	background: none;
	padding-top: 10px;
	text-align: right;
}
