{% extends 'main.html' %}
{% block title %}<title>Comify</title>{% endblock %}
{% block content %}
{% load static %}
<div id="slider">
		<img src="{% static 'images/primer1.png' %}" class="slide-single" alt="" width="200" height="240">
    	<img src="{% static 'images/primer2.png' %}" class="slide-single" alt="" width="200" height="240">
    	<img src="{% static 'images/primer1.png' %}" class="slide-single" alt="" width="200" height="240">
		<img src="{% static 'images/primer3.png' %}" class="slide-single" alt="" width="200" height="240">
</div>
<div class="MainProduct">
<table>
    <tr>
        {% block main_header %}
        <td rowspan="2">
            <div class="header">
                {% block header %}<h3>Лучшее из Comify</h3>{% endblock %}
            </div>
        </td>
        {% endblock %}
    </tr>
</table>
<table class="products">
    {% for product in products %}
        {% cycle '<tr>' '' ''  %}
        {% include 'product.html' %}
        {% if forloop.last %}
                </tr>
        {% else %}
            {% cycle '' '' ''   %}

        {% endif %}
    {% endfor %}
</table>
</div>
{% endblock %}
