<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head> <!--Техническая часть сайта-->
    {% block title %}<title>Document</title>{% endblock %}
    {% block description %}
    <meta name="description" content="comify"/>
    {% endblock %}
    {% block keywords %}
    <meta name="keywords" content="comify"/>
    {% endblock %}
    {% load static %}
	<link rel="stylesheet" href="{% static 'styles/main.css' %}" type="text/css"/>
    <script type="text/javascript" src="{% static 'js/jquery.js' %}"></script> <!--Библиотека jQuery-->
    <script type="text/javascript" src="{% static 'js/js.js' %}"></script>
    <link href="{% static 'favicon.ico' %}" rel="shortcut icon" type="image/x-icon"/>
</head>
<body>
	<header class="shapka"> <!--Шапка сайта-->
		<div id="header-logo">
            <a href="{% url 'index' %}">
			<ul id="logo">
                <img src="{% static 'images/Logo.png' %}" alt="" width="60" height="50">
            </ul>
            </a>
                <div id="header-nav-left">
                    <a href="{% url 'index' %}">Лучшие</a>
                    <a href="#">Вакансии</a>
                </div>
		</nav>
		</div>
        <div class="search-box">
            <input class="search-txt" type="text" name="" placeholder="Поиск">
            <a class="search-btn" href="#">
                <img src="{% static 'images/lupa.png' %}">
            </a>
        </div>
		<div id="header-nav" >
			<nav>
			    <ul>
			    <li><a href="{% url 'login' %}">Вход</a>
			    	<ul id="header-nav-main">
					        <li><a href="{% url 'registration' %}">Регистрация</a></li>
					    </ul>
			    </li>
		    </ul>
		</nav>
		</div>
	</header>
    <div id="right">
        {% block content %}{% endblock %}
    </div>
    <div class="MainProduct">
        <div id="footer">
                <div id="pm">
                </div>
                <div id="copy">
                    <div id="Contacts">
                        <h1 class="PodvalH">Контакты</h1>
                        <p>Телефон 8-800-123-45-67</p>
                    </div>
                    <div id="Vakansii">
                        <h1 class="PodvalH">Вакансии</h1>
                        <p>Все вакансии</p>
                        <p>Вакансии по категории</p>
                    </div>
                    <div id="Help">
                        <h1 class="PodvalH">Поддержка</h1>
                        <p>Чат с администратором</p>
                    </div>
                </div>
                <div id="MIN">
                    <img src="{% static 'images/MIN.png' %}" width="220" height="40">
                    <div id="MINLOGO">
                        <img src="{% static 'images/MINLOGO.png' %}" width="60" height="60">
                    </div>
                </div>
            </div>
    </div>
</body>
</html>